* {
	box-sizing: border-box; /*include padding and borders in width and height values*/
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background: lightblue; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, #c4e0e5, #4ca1af); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #c4e0e5, #4ca1af); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #c4e0e5, #4ca1af); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #c4e0e5, #4ca1af); /* Standard syntax */
  	text-align: center;
}

.business-name-header {
	font-family: 'Shadows Into Light', cursive;
	font-size: 35px;
	color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: 'Shadows Into Light', cursive;
}

.logged-in-as {
	font-size: 12px;
	display: inline-block;
}

.log-out-button {
	margin-left: 15px;
	font-size: 10px;
	display: inline-block;
	background-color: #6d8542;
	background-image: -webkit-linear-gradient(top, #7f9b4d, #91b158);
	background-repeat: repeat-x;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #5b6f37;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1px;
}

.upper-bar {
  margin-bottom: 15px;
}

.select-child {
	font-size: 18px;
	margin-bottom: 17px;
}

.select-child-title {
	margin-bottom: 0;
}

.add-new-child {
	margin-top: 10px;
}

/**************Add child pop-up box (initially hidden) - start**************/
.action-form-box {
	margin-top: 15px;
	width: 220px;
	margin-right: auto;
	margin-left: auto;
}

.vaccine-name-input, 
.related-diseases-input,
.vaccine-status-input,
.vaccine-due-date,
.vaccine-done-date,
.appointment-date-input,
.appointment-reason-input,
.appointment-summary-input {
    width: 100%;
    height: 22px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.15); /*4th element is for setting the transparency*/
    border: none;
    outline: none;
    padding: 2px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -100px 100px rgba(255,255,255,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.vaccine-name-input::placeholder, 
.related-diseases-input::placeholder, 
.vaccine-due-date::placeholder, 
.vaccine-done-date::placeholder,
.appointment-date-input::placeholder,
.appointment-reason-input::placeholder,
.appointment-summary-input::placeholder {
	color: white;
}

/*type="date" doesn't allow a placeholder attribute, so this is a workaround:*/
.vaccine-due-date:before,
.vaccine-done-date:before,
.appointment-date-input:before {
	content: attr(placeholder);
	color: white;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.new-vaccine-submit-button,
.new-appointment-submit-button {
	font-size: 10px;
	display: inline-block;
	background-color: #6d8542;
	background-image: -webkit-linear-gradient(top, #7f9b4d, #91b158);
	background-repeat: repeat-x;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #5b6f37;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1px;	
}

.inactive {
	color: lightgray !important;
}

/**************Add child pop-up box (initially hidden) - end**************/

.or-line {
	font-size: 10px;
}

.select-data {
	font-size: 18px;
}

.service-btn {
	margin-left: 5px;
	width: 85px;
	height: 40px;
	font-size: 12px;
	display: inline-block;
	background-color: #6d8542;
	background-image: -webkit-linear-gradient(top, #7f9b4d, #91b158);
	background-repeat: repeat-x;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #5b6f37;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 8px;		
}

.vaccines-button, .appointment-button, .patient-info-button {
	font-size: 11px;
	margin-left: 5px;
}

.add-new-child-button {
	margin-top: 3px;
	height: 25px;
}

.patient-button {
	background-color: #6d8542;
	background-image: -webkit-linear-gradient(top, #7f9b4d, #91b158);
}

.review-results-title {
	font-size: 18px;
	margin-top: 18px;
}

.vaccine-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.results-display {
	background-color:rgba(255, 255, 255, 0.3);
	margin-top: 5px;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 4px
}

.patient-name-or-no-results-msg {
	font-size: 12px;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
}

table {
	width: 100%;
	font-size: 9px;
	text-align: left;
	border: 1px solid black;
}

th {
	font-weight: bold;
}

tr {
	width: 100%;
}

.col1-vacs {
	width: 55%;
}

.col2-vacs {
	width: 13%;
}

.col3-vacs, .col4-vacs {
	width: 16%;
}

td {
	padding: 2px;
}

.col1-apnts {
	width: 20%;
}

.col2-apnts {
	width: 20%;
}

.col3-apnts {
	width: 60%;
}

.patient-details-display {
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
}

@media only screen and (min-width: 550px) {
	.patient-name-or-no-results-msg {
		font-size: 15px;
	}

	table {
		font-size: 15px;
	}
}
